li:hover{
  background-color:grey;
}
.load{
  text-align: center;
}
.head{
  background-color: #2196F3;
  margin-top: 0;
  padding: 5px;
  border-bottom: 1px solid brown ;
}
panel{
  box-shadow: 2px grey;
}